body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
     background: #e6e6e6;
}

.text-center {
 background: linear-gradient(to right,#090025 0,#2f0028 100%);
 height: 300px;
 color: #FFE;
 font-weight: 300;
}

.text-center h1 {
  margin-top: 3em;
}

#content {
    flex: 1;
}

.container {
    max-width: 960px;
}


.alert-danger {
    color: #fff;
    background-color: #ff3f49;
    margin: 30px 0;
}

.results img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 30px auto;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
    color: #2f0028;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

.navbar-inverse {
    background-color: #090025;
    border-color: #090025;
}

.navbar-inverse .navbar-nav>li>a {
    color: #5e7ed5;
}

@media (min-width: 768px) {
   .navbar-nav {
       margin-left: 16em;
    }
}

.dropzone {
    border: 2px dashed #2f0028;
    border-radius: 5px;
    background: #e6e6e6;
}
